*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-family: 'Roboto',Arial,sans-serif;
}


body{
  background-color:black;
}

footer{
  position: relative;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -50%);
  height: 2.5rem;
  width: 100%;
  color: #717171;
}


.container{
  width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
}

.searchArea{
  margin-top: 5px;
}

.searchArea img{
  width: 100px;
}

.searchArea button{
  float: initial;
}

.resultsArea{
  padding: 5vh 0 5vh 0;
}

.result-details{
  margin-top: 5px;
}

.result-details p{
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  color: #AAAAAA;
}

#views{
  float: left;
  padding-right: 5px;
}


.headerImage img{
  width: 100%;
  padding: 15px;
  display: none;
}


.headerImage{
  display: inline-flex;
  position: relative;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.URL-input, .button{
  font-size: 1.3rem;
  padding: 5px 10px;
  outline: none;
}

.URL-input{
  border-radius: 10px;
  width: 30rem;
  text-align: left;
  background: #eee;
  outline: none;
  background-color: #121212;
  border: none;
}

.URL-input:focus{
  border: 2px solid #323232;
}

.button{
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #323232;
  background:  #323232;
  margin: 10px 0px 0px 5px;
}

#search-button{
  background:#323232;
  border: 2px solid #323232;
  color: #6f6f6f;
}

.button:hover, .button:active, #search-button:active{
  background:white;
  color:black;
  border: 2px solid white;
  transition: .1s;
}

.results-info{
  margin: 0;
  padding: 5px 0 0 10px;
}

.results-info h1{
  font-weight: normal;
}


.results-item{
  padding: 5vh 0 5vh 0 5vh;
  margin: 0 0 20px 0;
  width: 100%;
}

.results-item:nth-child(1){
  display: none;
}

.results-img {
  display:inline-flex;
  position: relative;
}

#results-img{
  border-radius: 10px;
}

#length{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 4px;
  margin: 4px;
  background: black;

  font-size: 12px;
  border-radius: 2px;
}


#resultBtn{
  width: 50px;
}



@media screen and (min-width: 200px){
  .headerImage{
    margin-top: 20vh;
  }
	.URL-input{
    width: 100%;
    font-size: 17px;
    height: 50px;
  }
  #search-button{
    font-size: 20px;
  }


  .headerImage{
    width: 200px;
  }

  .results-img img{
    width: 100%;
  }


  .results-info h1{
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
  }

  .button{
    font-size: 1rem;
  }
  
}


@media screen and (min-width: 600px){
	.URL-input{
    width: 25rem;
    margin: 0 20px;
    font-size: 20px;
    height: initial;
  }

  .results-info{
    padding-left: 15px;
  }

  .results-info h1{
    font-size: 18px;
    margin-top: 0;
    text-align: left;
  }

  .results-info p:nth-child(2), .results-info p:nth-child(3){
    margin-top: 10px;
  }

  
  .button{
    font-size: initial;
    position: relative;
    float: left;
  }

  #search-button{
    float: initial;
  }

  .results-item{
    display: inline-flex;
    padding: 3px;
  }

}

@media screen and (min-width: 980px){
  .headerImage{
    margin-top: initial;
  }
	.URL-input{
    width: 50rem;
    margin: 0 10px;
    font-size: 25px;
  }

  .button{
    font-size: 20px;
  }

.headerImage{
  width: 300px;
}

}







